* {
  margin: 0px;
  --background-white: hsl(50, 10%, 90%);
  --navyBlue: hsla(196, 21.6%, 15%, 1);
  background-color: var(--background-white);
}

nav {
  background-color: var(--navyBlue);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: var(--navyBlue);
}

nav ul li {
  background-color: var(--navyBlue);
  color: var(--background-white);
  position: relative;
  display: block;
  padding: 1rem;
  font-family: 'Eczar', serif;
  font-size: 1.1em;
  transition-duration: 0.5s;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

nav ul li:hover {
  background-color: hsla(196, 21.6%, 30%, 1);
}

h1 {
  text-align: center;
  font-family: 'Eczar', serif;
  font-size: 5em;
  color: var(--navyBlue);
  margin: 20px;
}

.container {
  margin: 20px 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  box-shadow: 4px 4px 12px lightgrey;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: white;
  color: var(--navyBlue);
}

section h2 {
  margin-top: 10px;
  margin-bottom: -10px;
  font-family: 'Eczar', serif;
  font-size: 2.5em;
  text-align: center;
}

section h2, p, em {
  background-color: inherit;
}

.imgcontainer {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  border: 7px solid hsl(196, 21.6%, 40%);
}

section img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

#alfengor-img {
  position: relative;
  height: 330%;
  right: 80px;
}

#discite-img {
  position: relative;
  height: 600%;
  bottom: 170px;
  right: 200px;
}

#lailius-img {
  position: relative;
  bottom: 40px;
  right: 250px;
}

#michann-img {
  position: relative;
  bottom: 220px;
  right: 245px;
}

#orianna-img {
  position: relative;
  height: 500%;
  right: 100px;
  bottom: 100px;
}

#pavlov-img {
  position: relative;
  height: 300%;
  right: 40px;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  margin: 0px 8px 8px 8px;
}

.subtitle {
  background-color: inherit;
  text-align: center;
}

.deceased {
  color: hsla(196, 21.6%, 15%, .5);
}