* {
  margin: 0px;
  --background-white: hsl(50, 10%, 90%);
  --navyBlue: hsla(196, 21.6%, 15%, 1);
  --blue: hsla(196, 21.6%, 30%, 1);
  background-color: var(--background-white);
}

nav {
  background-color: var(--navyBlue);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: var(--navyBlue);
}

nav ul li {
  background-color: var(--navyBlue);
  color: var(--background-white);
  position: relative;
  display: block;
  padding: 1rem;
  font-family: 'Eczar', serif;
  font-size: 1.1em;
  transition-duration: 0.5s;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

nav ul li:hover {
  background-color: hsla(196, 21.6%, 30%, 1);
}

/*Main Content */
section {
  margin: 30px 10vw;
}

#cult {
  color: var(--navyBlue);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

section h2 {
  font-family: 'Eczar', serif;
  font-size: 6em;
  line-height: 1em;
  color: var(--blue);
}

.person {
  margin: 30px 0px;
  padding: 30px;
  border-left: 10px solid var(--blue);
  border-top: 3px solid var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person img {
  height: 70vh;
  margin-right: 40px;
  border: 5px solid var(--navyBlue);
}

.text h3 {
  font-family: 'Eczar', serif;
  font-size: 4em;
  line-height: 1em;
  color: var(--navyBlue)
}

.text h4 {
  font-family: 'Eczar', serif;
  font-size: 2.5em;
  line-height: 1em;
  color: var(--blue);
  margin-bottom: 10px;
}

.text p {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  color: var(--blue)
}